nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.navbar {
    background-color: #01132f;
}

nav.navbar ul.nav li:hover {
    background-color: #01132f;
}

.navbar-inverse .navbar-nav > li > a {
    color: #aeaeae;
}

.bg-success {
    background-color: #1ae144 !important;
}

#body_info {
    margin: 10px 50px;
}

.bg-success {
    margin: 0 auto;
    text-align: justify;
}

#input_id {
    border: none;
    width: 20px;
}

#formFinish {
    margin: 0 auto;
    text-align: center;
}

#titleCatalog {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

#finish_button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    line-height: 1.42857143;
    color: #fff;
    background-color: #1ae144;
    border-color: #1ae144;
    padding: 10px;
    border-radius: 6px;
}

#finish_button:hover {
    color: #fff;
    background-color: #05c705;
    border-color: #05c705;
}

#quantity {
    width: auto;
}

.bg-success {
    font-weight: bold;
}

#btn-buy-product{
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    background-color: #1a48e1;
    border-radius: 6px;
    border: 2px solid #1a48e1;
}