@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

body{
	background-color: #F5EFE6;
}

#body_info{
	font-family: 'Roboto Slab', serif;
    background-color: #F5EFE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
}

#head{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #E8DFCA;
    padding: 10px;
}

table{
	font-weight: bold;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #7895B2;
	border-radius: 10px;
	background-color: #E8DFCA;
}

button{
    width: 64px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #7895B2;
    font-family: 'Roboto Mono', monospace;
}

input{
	width: 64px;
	height: 15px;
}

#input_id{
	display: none;
}

#header{
	font-size: 28px
}

td{
	padding: 10px;
	color: black;
}

#finish_button{
	width: 150px;
    height: auto;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #7895B2;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 25px;
}

ul {
  padding: 0;
  width: 60px;
}

li {
  display: inline;
}

a  {
	outline: none;
	text-decoration: none;
	display: inline-block;
	width: 130px;
	text-align: center;
	line-height: 3;
	color: black;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
	background-color: wheat;
	padding: 5px;
}

li:last-child a {
  margin-right: 0;
}

a:hover {
  background: #CDFCF6;
}

a:active {
  background: #98A8F8;
  color: white;
}