@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

#body_info {
    margin: 10px 50px;
}

#section-table {
    margin: 10px 50px;
}

#section-bot {
    margin: 10px 150px;
}

#section-total {
    margin: 10px 150px;
}

#finish_button {
    margin: 10px 150px;
}

#body_infos {
    margin: 10px 50px;
}

#titleCatalog {
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*margin-bottom: 20px;*/
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    background: #01132f;
    border-radius: 0.25em;
    color: #FFF;
    margin: 0 0 1em;
    padding: 0.5em 0;
}

.title-name {
    font-weight: bold;
}

#total {
    margin: 10px 50px;
}

.text-right {
    font-size: medium;
    font-weight: bold;
}

#section-pay{
    margin: 10px 50px;
}

#btn-buy{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1ae144;
    border-radius: 6px;
    border: 2px solid #1ae144;
}

#btn-buy:hover {
    color: #fff;
    background-color: #05c705;
    border-color: #05c705;
}

#btn-cancel{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #dc3545!important;
    border-radius: 6px;
    border: 2px solid #dc3545!important;
}

#btn-cancel:hover{
    color: #ffffff;
    background-color: #ba000f !important;
    border-color: #ba000f !important;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}

.bg-success {
    background-color: #1ae144 !important;
}
